.cdgLayoutWrapper {
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
}

.cdgInputContentWrapper {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  display: inline-flex;
}

.cdgInputPhoneNumber {
  flex: 1 1 0;
  height: 44px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: flex;
}

.cdgInputContent {
  align-self: stretch;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  display: inline-flex;
}

.cdgLayoutWrapper .cdgInputContentWrapper:nth-child(2),
.cdgLayoutWrapper .cdgInputContentWrapper:nth-child(3) {
  padding-top: 10%;
}
