@import '../../theme/theme.module.css';

/* Using @layer is important because it helps users customize the styles easily because un-layered css has the highest priority*/

/* 
* compoundVariant has the highest priority
* variant has the second highest priority
* default has the lowest priority
*/
@layer default, variant, compoundVariant;

@layer default {
  .appNav {
    background-color: var(--cdg-color-background);
    padding: var(--cdg-spacing-4) 0;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    left: 0;
    right: 0;
  }

  .appNavSection {
    background-color: var(--cdg-color-background);
    outline: none;
    border: none;
    cursor: pointer;
    height: var(--cdg-spacing-11);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }

  .appNavSection span {
    font-size: var(--cdg-font-size-label3);
    line-height: 1rem;
    user-select: none;
  }

  .appNavSection:focus-visible {
    outline: 2px solid var(--cdg-color-cdgBlue);
  }

  .icon {
    flex: 1;
    position: relative;
  }
}

@layer variant {
  .top {
    top: 0;
    box-shadow: 0px 2px 4px 0px #00000014;
  }

  .bottom {
    bottom: 0;
    box-shadow: 0px -2px 4px 0px #00000014;
  }

  .appNavSection.isActive svg,
  .appNavSection.isActive span {
    color: var(--cdg-color-cdgBlue);
  }

  .appNavSection.isInactive svg,
  .appNavSection.isInactive span {
    color: var(--cdg-color-grayShades60);
  }
}
