@import '../../theme/theme.module.css';

@layer default {
  .rteToolbarWrapper {
    appearance: none;
    border: none;
    box-sizing: border-box;
    margin: 0px;
    padding: var(--cdg-spacing-2) var(--cdg-spacing-4);
    background-color: var(--cdg-color-gray20);
    overflow: hidden;
    height: fit-content;
    display: flex;
  }

  .rteToolbar {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    gap: var(--cdg-spacing-2);
  }
}
