.slideContent {
  background-color: #ccc;
  border: 1px solid #aaa;
  width: 100%;
  height: 250px;
}

.slideItem {
  display: flex;
  height: 100%;
  width: 33.33%;
}

@media screen and (max-width: 767px) {
  .slideItem {
    width: 100%;
  }
}
