@import '../../theme/theme.module.css';

@layer default {
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .tabs {
    font-family: var(--cdg-font-sans);
    line-height: var(--cdg-line-height-normal);
    font-weight: var(--cdg-font-weight-semibold);
    display: flex;
    width: fit-content;
    margin: 0;
    gap: var(--cdg-spacing-4);
  }
}

@layer variant {
  .rounded {
    background: var(--cdg-color-background);
    border-radius: var(--cdg-border-radius-full);
  }

  .simple {
    background: transparent;
    border-radius: none;
  }

  .h5 {
    background: transparent;
    padding: 0 0 4px 0 !important;
    gap: var(--cdg-spacing-5);
  }

  .horizontal {
    padding: var(--cdg-spacing-2);
    flex-direction: row;
  }

  .vertical {
    padding: var(--cdg-spacing-4) var(--cdg-spacing-2);
    flex-direction: column;
  }
}

@layer compoundVariant {
  .roundedVertical {
    border-radius: var(--cdg-border-radius-xl);
  }
}

@layer default, variant, compoundVariant;