@import '../../theme/theme.module.css';

/* 
* variant has the second highest priority
* default has the lowest priority
*/
@layer default, variant;

@layer default {
  .textFieldLabel {
    color: var(--cdg-color-gray90);
    font-size: var(--cdg-font-size-label1);
    font-weight: var(--cdg-font-weight-semibold);
    margin-bottom: var(--cdg-spacing-2);
    display: inline-block;
    width: 100%;
  }
  .textFieldHelperText {
    font-size: var(--cdg-font-size-label2);
    font-weight: var(--cdg-font-weight-medium);
    transition: var(--cdg-transition-default);
    margin-top: var(--cdg-spacing-1);
    color: var(--cdg-color-gray70);
  }
  .textFieldBox {
    width: 100%;
    height: var(--cdg-spacing-11);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-width: var(--cdg-border-width-light);
    border-style: solid;
    border-color: var(--cdg-color-divider);
    border-radius: var(--cdg-border-radius-md);
    color: var(--cdg-color-typeHeading);
    background-color: var(--cdg-color-whiteText);
    transition: var(--cdg-transition-default);
  }

  .leftIcon,
  .rightIcon {
    color: var(--cdg-color-typeHeading);
    transition: var(--cdg-transition-default);
  }
  .leftIcon {
    width: var(--cdg-spacing-5);
    height: var(--cdg-spacing-5);
    margin-left: var(--cdg-spacing-2_5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .prefix {
    min-width: var(--cdg-spacing-5);
    height: var(--cdg-spacing-5);
    margin-left: var(--cdg-spacing-2_5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rightIcon {
    width: var(--cdg-spacing-4);
    height: var(--cdg-spacing-4);
    margin-right: var(--cdg-spacing-2_5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .passwordIcon {
    font-size: 0.8em;
    margin-right: var(--cdg-spacing-2_5);
  }
  .passwordIcon svg {
    height: 1rem;
  }
  .textField {
    width: 100%;
    font-size: var(--cdg-font-size-label1);
    font-weight: var(--cdg-font-weight-semibold);
    line-height: var(--cdg-line-height-normal);
    padding: var(--cdg-spacing-1_5) var(--cdg-spacing-3);
    border: 0;
    border-radius: var(--cdg-border-radius-md);
    background-color: var(--cdg-color-whiteText);
  }
  .textFieldWrapper {
    width: 100%;
    display: block;
    font-family: var(--cdg-font-sans);
  }
  .asterisk {
    margin-left: var(--cdg-spacing-1);
    color: var(--cdg-color-danger);
  }
  .textField:focus {
    outline: none;
    box-shadow: none;
  }
  .textField::placeholder {
    color: var(--cdg-color-placeholder);
    font-size: var(--cdg-font-size-label1);
    font-weight: var(--cdg-font-weight-semibold);
  }
  .textFieldBox:focus-within {
    border-color: var(--cdg-color-cdgBlue);
  }
  .textFieldBox:focus-within .leftIcon {
    color: var(--cdg-color-cdgBlue);
  }
}

@layer variant {
  .textFieldHelperTextError {
    color: var(--cdg-color-danger);
  }
  .textFieldBoxErrored {
    border-color: var(--cdg-color-danger);
    border-width: var(--cdg-border-width-medium);
  }
  .textFieldBoxErrored:focus-within {
    border-color: var(--cdg-color-danger);
  }

  .textFieldDarkTheme {
    background-color: transparent;
    color: var(--cdg-color-tertiaryText);
  }
  .textFieldBoxDarkTheme {
    color: var(--cdg-color-tertiaryText);
    background-color: var(--cdg-color-gray20);
  }
  .textFieldBoxDarkTheme:focus-within {
    border-color: var(--cdg-color-cdgBlue120);
  }
  .textFieldBoxDarkTheme:focus-within .leftIcon {
    color: var(--cdg-color-cdgBlue);
  }

  .textFieldBoxDisabled {
    background-color: var(--cdg-color-gray20);
  }
  .textFieldBoxDisabled * {
    color: var(--cdg-color-disabledText);
    cursor: not-allowed;
  }
  .textFieldDisabled {
    background-color: var(--cdg-color-gray20);
  }

  .textFieldLabelH5 {
    font-size: var(--cdg-font-size-label2);
    font-weight: var(--cdg-font-weight-medium);
    color: var(--cdg-color-grayShades80);
    margin-bottom: var(--cdg-spacing-1);
  }
  .textFieldWrapperH5 {
    color: var(--cdg-color-grayShades100);
    font-size: var(--cdg-font-size-label1);
    line-height: var(--cdg-line-height-tight);
    font-weight: var(--cdg-font-weight-normal);
  }
  .textFieldBoxH5 {
    border-radius: var(--cdg-border-radius-lg);
  }
  .textFieldH5 {
    border: none;
    width: 100%;
    font-size: var(--cdg-font-size-label2);
    font-weight: var(--cdg-font-weight-normal);
  }
  .textFieldH5::placeholder {
    color: var(--cdg-color-grayShades40);
    font-size: var(--cdg-spacing-3_5);
    line-height: var(--cdg-line-height-tight);
    font-weight: var(--cdg-font-weight-normal);
  }
}
