@import '../../theme/theme.module.css';

.subHeader {
  display: flex;
  gap: var(--cdg-spacing-2);
}


/* Variant */

.subHeaderDefault {
  /* css default */
  flex-direction: column;
}

.subHeaderH5 {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}