.pudoStories {
  padding: var(--cdg-spacing-4);
  padding-bottom: var(--cdg-spacing-12);

  .pudoUpdateItemButton {
    margin-block: var(--cdg-spacing-4);
  }

  > h4 {
    margin-block: var(--cdg-spacing-6) var(--cdg-spacing-2);

    &:first-child {
      margin-block: 0;
    }
  }

  > h5 {
    margin-block: var(--cdg-spacing-4) var(--cdg-spacing-1);
  }

  .description {
    margin-top: 0;
    font-size: var(--cdg-font-size-body3);
    color: var(--cdg-color-grayShades60);
  }

  .pudoCustomStyling {
    :global .cdg-pudo-items-wrapper {
      border: none;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
    }
  }
}

.previewCode {
  padding: var(--cdg-spacing-2);
  margin: 0;

  width: 100%;
  min-height: var(--cdg-spacing-5);
  border-radius: var(--cdg-border-radius-lg);

  background-color: var(--cdg-color-secondaryBg);
  font-size: var(--cdg-font-size-label1);
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.compactContainer {
  display: flex;
  flex-direction: column;
  gap: var(--cdg-spacing-4);
}

@media (min-width: 600px) {
  .compactContainer {
    flex-direction: row;

    &:global > .cdg-pudo-container {
      width: calc(100% / 2 - var(--cdg-spacing-2));
    }
  }
}
