@layer default, variant, compoundVariant;

@layer default {
  .pudoContainer {
    --cdg-pudo-dot-size: 3px;
    --cdg-pudo-icon-height: var(--cdg-spacing-6, 1.5rem);
    --cdg-pudo-bg: var(--cdg-color-background, inherit);
    --_cdg-pudo-icon-shape-bg: transparent;
    --cdg-pudo-item-padding-block: var(--cdg-spacing-4, 1rem);

    /* 
    Currently, attr's color & fallback only stable on Firefox. For now use JS instead.
    &[data-background] {
      --cdg-pudo-bg: attr(
        data-background color,
        var(--cdg-color-background, inherit)
      );
    } */

    max-width: 100%;
    box-sizing: border-box;

    .pudoItemsWrapper,
    .pudoActions {
      box-sizing: border-box;
    }

    .pudoItemsWrapper {
      border-radius: var(--cdg-border-radius-lg);
      border: 1px solid var(--cdg-color-grayShades20);
      background-color: var(--cdg-pudo-bg);
      overflow: hidden;
    }

    .pudoActions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: var(--cdg-spacing-4);
      padding-block: var(--cdg-spacing-3);

      &:empty {
        display: none;
      }

      & > .pudoActionButton {
        padding: 0;
        border: none;

        &:hover {
          background: var(--cdg-color-background);
        }
      }
    }
  }

  .pudoItem {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--cdg-spacing-4);

    padding-inline: var(--cdg-spacing-4) var(--cdg-spacing-8);
    transition: background-color 0.2s ease-in-out;
    animation: fadeIn 0.2s cubic-bezier(0.25, 0, 0.3, 1) forwards;

    box-sizing: border-box;

    .pudoItemIcon,
    .pudoItemInput,
    .pudoItemSwapIcon,
    .pudoItemIconShape {
      box-sizing: border-box;
    }

    .pudoItemIcon {
      position: relative;
      display: flex;
      justify-content: center;
      align-self: stretch;
      width: var(--cdg-spacing-5);
      text-align: center;

      .pudoItemIconShape {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--cdg-spacing-8);
        height: var(--cdg-pudo-icon-height);
        border-radius: var(--cdg-border-radius-md);

        background-color: var(--_cdg-pudo-icon-shape-bg);
        transition: background-color 0.2s ease-in-out;

        & > svg,
        & > object,
        & > img {
          display: block;
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        inset-inline: 0;
        z-index: -1;

        width: 100%;
        height: 100%;

        background-image: radial-gradient(
          circle closest-side,
          var(--cdg-color-grayShades40) 100%,
          transparent 100%
        );
        background-repeat: repeat-y;
        background-position-x: center;
        background-size: var(--cdg-pudo-dot-size)
          calc(var(--cdg-pudo-dot-size) * 2);
      }
    }

    .pudoItemInput {
      &:global > .cdg-textfield-box {
        border: none;
        height: unset;
        background-color: inherit;
        box-sizing: border-box;
      }

      :global .cdg-textfield-input {
        padding: var(--cdg-spacing-2) 0;
        height: var(--cdg-spacing-12);
        font-weight: var(--cdg-font-weight-normal);
        background-color: inherit;

        box-sizing: border-box;

        &::placeholder {
          font-weight: var(--cdg-font-weight-normal);
        }
      }
    }

    .pudoItemSwapIcon {
      position: absolute;
      right: var(--cdg-spacing-1);
      bottom: calc(-1 * var(--cdg-spacing-3));

      padding: 0;
      border: none;
      border-radius: var(--cdg-border-radius-full);
      cursor: pointer;
      z-index: 1;

      & svg {
        display: block;
      }

      &:focus {
        box-shadow: 0 0 0 2px var(--cdg-color-cdgBlue40), 0 0 #000,
          0 1px 2px 0 var(--cdg-color-cdgBlue60);
      }
    }

    & ~ .pudoItem {
      .pudoItemInput,
      .pudoItemCustom {
        border-top: 1px solid var(--cdg-color-grayShades20);
      }
    }

    &:last-child {
      .pudoItemSwapIcon {
        display: none;
      }
    }
  }
}

@layer variant {
  .pudoItem.alignIcon--center {
    &:first-child,
    &:last-child {
      .pudoItemIcon::before {
        height: 50%;
      }
    }

    &:first-child {
      .pudoItemIcon::before {
        top: 50%;
      }
    }
  }

  .pudoItem.alignIcon--top {
    &:first-child {
      .pudoItemIcon::before {
        top: calc(
          var(--cdg-pudo-item-padding-block) + var(--cdg-pudo-dot-size)
        );
        height: calc(
          100% - var(--cdg-pudo-item-padding-block) - var(--cdg-pudo-dot-size) *
            2
        );
      }
    }
    &:last-child {
      .pudoItemIcon::before {
        height: var(--cdg-pudo-item-padding-block);
      }
    }
  }

  .pudoItem.alignIcon--center .pudoItemIcon {
    align-items: center;
  }

  .pudoItem.md,
  .pudoItem.sm {
    .pudoItemInput,
    .pudoItemCustom {
      border-top: none;
    }
  }

  .pudoItem.md {
    --cdg-pudo-item-padding-block: calc(var(--cdg-pudo-dot-size) * 4);

    .pudoItemInput input {
      height: var(--cdg-spacing-10);
    }
  }

  .pudoItem.sm {
    --cdg-pudo-item-padding-block: calc(var(--cdg-pudo-dot-size) * 2);

    .pudoItemInput input {
      padding-block: var(--cdg-spacing-1);
      height: auto;
    }
  }

  .pudoItem.input:not(.sm, .md) {
    --_cdg-pudo-icon-shape-bg: var(--cdg-pudo-bg, transparent);
  }

  .pudoItem.input {
    &:has(.pudoItemInput:focus-within) {
      background-color: var(--cdg-color-grayShades10);

      --_cdg-pudo-icon-shape-bg: var(--cdg-color-grayShades10);
    }

    :global(.cdg-textfield-right-icon) {
      margin-right: 0;
    }

    .pudoItemInputBtnClear {
      width: var(--cdg-spacing-6);
      height: var(--cdg-spacing-6);

      & svg {
        display: block;
      }

      &.pudoItemInputBtnClearHidden {
        display: none;
      }
    }
  }

  .pudoItem.custom {
    padding-inline: var(--cdg-spacing-4);

    .pudoItemCustom {
      padding-block: var(--cdg-pudo-item-padding-block);
      width: 100%;

      font-size: var(--cdg-font-size-label1);
      font-weight: var(--cdg-font-weight-normal);
      line-height: var(--cdg-line-height-tight);

      overflow: auto;

      .pudoItemCustomTitle {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &:not(:only-child) {
          margin-bottom: var(--cdg-spacing-2);
        }
      }

      .pudoItemCustomContent {
        margin-block: 0;
      }
    }
  }

  .pudoItem.alignIcon--top .pudoItemIcon {
    padding-top: var(--cdg-pudo-item-padding-block);
  }
}

@layer compoundVariant {
  .pudoItem.input .pudoItemInputBtnClear:global(> .cdg-button-content) {
    padding: 0;
  }

  .pudoItem.alignIcon--center:is(.sm, .md) {
    .pudoItemIcon:before {
      top: calc(var(--cdg-pudo-dot-size) * -1);
      height: calc(100% + var(--cdg-pudo-dot-size));
    }

    &:first-child {
      .pudoItemIcon:before {
        top: calc(
          50% + var(--cdg-pudo-icon-height) / 2 - var(--cdg-pudo-dot-size) / 2
        );
        height: calc(
          50% - var(--cdg-pudo-icon-height) / 2 - var(--cdg-pudo-dot-size) / 2
        );
      }
    }

    &:last-child {
      .pudoItemIcon:before {
        height: calc(
          50% - var(--cdg-pudo-icon-height) / 2 + var(--cdg-pudo-dot-size) * 1.5
        );
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
