@import '../../theme/theme.module.css';

.card {
  width: 100%;
  position: relative;
  background-color: var(--cdg-color-background);
  box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1),
    0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
  border-radius: var(--cdg-border-radius-md);
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease-in-out;
}

.card:focus-visible {
  outline: var(--cdg-color-cdgBlue60) solid 2px;
}

.card:hover {
  box-shadow: 0px 0.6px 1.8px rgba(0, 0, 0, 0.1),
    0px 3.2px 7.2px rgba(0, 0, 0, 0.13);
  transition: box-shadow 0.3s ease-in-out;
}

.card.disabled {
  background-color: var(--cdg-color-gray20);
  user-select: none;
  cursor: not-allowed;
}

.card.shadowless {
  box-shadow: none;
}

.card.shadowless:hover {
  box-shadow: none;
}

.card.clickable {
  cursor: pointer;
}

.card.clickable:active {
  background-color: var(--cdg-color-gray20);
}

.card.sm {
  max-width: 245px;
}

.card.lg {
  max-width: 396px;
}

.card.full {
  width: 100%;
}

/* card title */

.cardTitle {
  margin: 0;
  font-size: inherit;
  flex: 1;
}

.cardTitleContainer {
  font-size: var(--cdg-font-size-header5);
  font-weight: var(--cdg-font-weight-semibold);
  width: 100%;
  position: relative;
  background-color: inherit;
  display: flex;
  align-items: center;
  color: var(--cdg-color-primaryText);
}

.card.disabled .cardTitle {
  color: var(--cdg-color-gray50);
}

/* card body */

.cardBody {
  position: relative;
  background-color: inherit;
  padding: var(--cdg-spacing-4) var(--cdg-spacing-4);
  border-bottom-right-radius: var(--cdg-border-radius-md);
  border-bottom-left-radius: var(--cdg-border-radius-md);
  line-height: var(--cdg-line-height-normal);
  color: var(--cdg-color-gray80);
  font-size: var(--cdg-font-size-label2);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card.disabled .cardBody {
  color: var(--cdg-color-gray50);
}

/* card image */

.cardImage {
  width: 100%;
  height: var(--cdg-spacing-44);
  object-fit: cover;
  border-top-left-radius: var(--cdg-border-radius-md);
  border-top-right-radius: var(--cdg-border-radius-md);
}

/* card actions */

.cardActions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  align-items: center;
}
