@import '../../theme/theme.module.css';

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/* 
* default has the lowest priority
*/
@layer default, variant;

@layer default {
  .dropdownOption {
    font-size: var(--cdg-font-size-label1);
    font-weight: var(--cdg-font-weight-medium);
    padding: var(--cdg-spacing-2) var(--cdg-spacing-4);
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--cdg-spacing-2);
    color: var(--cdg-color-primaryText);
  }

  .dropdownItemIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: var(--cdg-spacing-4);
    height: var(--cdg-spacing-4);
    overflow: hidden;
  }

  .dropdownItemContent {
    display: flex;
    align-items: center;
    flex-grow: 1;
    line-height: var(--cdg-line-height-normal);
  }

  .dropdownItemColor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: var(--cdg-spacing-6);
    height: var(--cdg-spacing-6);
    border-radius: var(--cdg-border-radius-md);
  }

  .dropdownItemColor svg {
    display: none;
  }

  .dropdownItemRightIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: var(--cdg-spacing-6);
    height: var(--cdg-spacing-6);
  }

  .dropdownLoading {
    display: flex;
    justify-content: center;
    margin: var(--cdg-spacing-4) auto;
  }

  .dropdownLoading .dropdownLoadingSpinner {
    display: inline-block;
    position: relative;
    width: var(--cdg-spacing-4);
    height: var(--cdg-spacing-4);
  }

  .dropdownLoading .dropdownLoadingSpinnerItem {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: var(--cdg-spacing-4);
    height: var(--cdg-spacing-4);
    border: 2px solid var(--cdg-color-divider);
    border-radius: 50%;
    animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--cdg-color-divider) transparent transparent transparent;
  }

  .dropdownLoading .dropdownLoadingSpinnerItem .dropdownLoadingSpinnerItem1 {
    animation-delay: -0.45s;
  }

  .dropdownLoading .dropdownLoadingSpinnerItem .dropdownLoadingSpinnerItem2 {
    animation-delay: -0.3s;
  }

  .dropdownLoading .dropdownLoadingSpinnerItem .dropdownLoadingSpinnerItem3 {
    animation-delay: -0.15s;
  }

  .dropdownListItem {
    height: var(--cdg-spacing-0_25);
  }

  .dropdownListEmptyData {
    font-size: var(--cdg-font-size-label1);
    font-weight: var(--cdg-font-weight-medium);
    color: var(--cdg-color-disabledText);
    padding: var(--cdg-spacing-2) var(--cdg-spacing-4);
    line-height: var(--cdg-line-height-normal);
  }

  .dropdownComboBox {
    width: 100%;
    height: var(--cdg-spacing-11);
    border: 1px solid var(--cdg-color-divider);
    background: var(--cdg-color-background);
    overflow: hidden;
    border-radius: var(--cdg-border-radius-md);
    position: relative;
    display: flex;
    align-items: center;
    z-index: 0;
    transition: var(--cdg-transition-default);
    border-width: 1px;
    border-style: solid;
    border-color: var(--cdg-color-divider);
  }

  .dropdownComboBox:focus-within {
    border-color: var(--cdg-color-cdgBlue);
  }

  .dropdownComboBox .dropdownInputControl {
    color: var(--cdg-color-primaryText);
    box-sizing: border-box;
    background: var(--cdg-color-background);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: var(--cdg-font-size-label1);
    font-weight: var(--cdg-font-weight-semibold);
    width: 100%;
    height: 100%;
    flex-grow: 1;
    border: none;
    padding: var(--cdg-spacing-2) var(--cdg-spacing-12) var(--cdg-spacing-2)
      var(--cdg-spacing-4);
    margin: 0;
  }

  .dropdownComboBox .dropdownInputControl:focus {
    outline: none;
  }

  .dropdownComboBox .dropdownSelectButton {
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: var(--cdg-spacing-4);
    transform: translateY(-50%);
    width: var(--cdg-spacing-6);
    height: var(--cdg-spacing-6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background: transparent;
  }

  .dropdownComboBox .dropdownButtonControl svg {
    width: var(--cdg-spacing-4);
    height: var(--cdg-spacing-4);
    transition: transform 0.3s linear;
  }

  .dropdownComboBox .dropdownButtonControl {
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: var(--cdg-spacing-4);
    transform: translateY(-50%);
    width: var(--cdg-spacing-6);
    height: var(--cdg-spacing-6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background: transparent;
  }

  .dropdownWrapper {
    width: 100%;
  }

  .dropdownWrapper .dropdownLabel {
    color: var(--cdg-color-gray90);
    font-size: var(--cdg-font-size-label1);
    font-weight: var(--cdg-font-weight-semibold);
    margin-bottom: var(--cdg-spacing-2);
    display: inline-block;
    width: 100%;
  }

  .dropdownWrapper .dropdownLabel {
    color: var(--cdg-color-gray90);
    font-size: var(--cdg-font-size-label1);
    font-weight: var(--cdg-font-weight-semibold);
    margin-bottom: var(--cdg-spacing-2);
    display: inline-block;
    width: 100%;
  }

  .dropdownWrapper .dropdownLabel .dropdownLabelAsterisk {
    margin-left: var(--cdg-spacing-1);
    color: var(--cdg-color-danger);
  }

  .dropdownWrapper.dropdownOpening .dropdownSelect .dropdownSelectButton {
    line-height: var(--cdg-line-height-normal);
  }

  .dropdownHelperText {
    font-size: var(--cdg-font-size-label2);
    font-weight: var(--cdg-font-weight-medium);
    transition: var(--cdg-transition-default);
    margin-top: var(--cdg-spacing-1);
    color: var(--cdg-color-gray70);
  }

  .dropdownHelperText.dropdownHelperIsErrored {
    color: var(--cdg-color-danger);
  }

  .dropdownButtonIcon {
    color: var(--cdg-color-primaryText);
  }

  .dropdownPopover {
    margin: 0;
    padding: var(--cdg-spacing-2) 0;
    border-radius: var(--cdg-border-radius-md);
    width: fit-content;
    height: fit-content;
    min-width: 100%;
    background: var(--cdg-color-background);
    box-shadow: 0 0.6px 1.8px rgba(0, 0, 0, 0.1),
      0 3.2px 7.2px rgba(0, 0, 0, 0.13);
  }

  .dropdownPopover .dropdownList {
    overscroll-behavior: contain;
    overflow-y: auto;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
  }

  .dropdownPopover .dropdownList:focus {
    outline: none;
  }

  .dropdownSelect {
    width: 100%;
    height: var(--cdg-spacing-11);
    background: var(--cdg-color-background);
    overflow: hidden;
    border-radius: var(--cdg-border-radius-md);
    z-index: 0;
    transition: var(--cdg-transition-default);
    border-width: 1px;
    border-style: solid;
    border-color: var(--cdg-color-divider);
  }

  .dropdownSelect:focus-within {
    border-color: var(--cdg-color-cdgBlue);
  }

  .dropdownSelect .dropdownSelectButton {
    padding: var(--cdg-spacing-2) var(--cdg-spacing-4);
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    gap: var(--cdg-spacing-2);
    background: transparent;
    font-size: var(--cdg-font-size-label1);
    font-weight: var(--cdg-font-weight-semibold);
  }

  .dropdownSelect .dropdownSelectButton svg {
    flex-shrink: 0;
    width: var(--cdg-spacing-4);
    height: var(--cdg-spacing-4);
    transition: transform 0.3s linear;
  }

  .dropdownSelect .dropdownSelectButton .dropdownButtonText {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-grow: 1;
    text-align: start;
    color: var(--cdg-color-primaryText);
  }

  .dropdownSelect .dropdownSelectButton:focus {
    outline: none;
  }

  .dropdownSection {
    appearance: none;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .dropdownSectionContent {
    background-color: var(--cdg-color-cdgBlue10);
    padding: var(--cdg-spacing-2) var(--cdg-spacing-4);
    font-size: var(--cdg-font-size-label2);
    font-weight: var(--cdg-font-weight-semibold);
    color: var(--cdg-color-gray100);
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: var(--cdg-line-height-normal);
  }

  .dropdownSectionContentClickable {
    cursor: pointer;
  }

  .dropdownSectionContentClickable:hover {
    background-color: var(--cdg-color-cdgBlue20);
  }
}

@layer variant {
  .dropdownSelectButtonH5 {
    font-weight: var(--normal);
    padding: var(--cdg-spacing-3) var(--cdg-spacing-4);
    font-size: var(--cdg-font-size-body3);
    line-height: var(--cdg-spacing-5);
  }

  .dropdownOption:hover {
    background-color: var(--cdg-color-gray20);
  }

  .dropdownOption.dropdownItemIsFocused {
    background-color: var(--cdg-color-cdgBlue20);
  }

  .dropdownOption.dropdownItemIsSelected {
    background-color: var(--cdg-color-gray20);
  }

  .dropdownOption.dropdownItemIsSelectedFocused {
    background-color: var(--cdg-color-cdgBlue30);
  }

  .dropdownOption.dropdownItemIsDisabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  .dropdownOption.dropdownItemIsDisabled:hover {
    background-color: transparent;
  }

  .dropdownOption.dropdownItemIsDisabled * {
    color: var(--cdg-color-disabledText);
  }

  .dropdownItemColor.dropdownItemSelected svg {
    display: block;
  }

  .dropdownItemRightIcon.dropdownItemRightIconCheckMarkCheckbox
    .dropdownItemRightIconContent {
    border: 1px solid var(--cdg-color-black);
    border-radius: 3px;
    width: var(--cdg-spacing-4);
    height: var(--cdg-spacing-4);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--cdg-color-background);
    color: #FFF;
  }

  .dropdownItemRightIcon.dropdownItemRightIconCheckMarkCheckbox
    .dropdownItemRightIconContentSvg {
    color: var(--cdg-color-whiteText);
  }

  .dropdownItemRightIcon.dropdownItemRightIconCheckMarkTick
    .dropdownItemRightIconContentSvg {
    color: var(--cdg-color-cdgBlue);
  }

  .dropdownItemRightIcon.dropdownItemRightIconCheckMarkTick
    .dropdownItemRightIconContentSvg {
    display: none;
  }

  .dropdownItemRightIcon.dropdownItemRightIconCheckMarkTick.dropdownItemRightIconSelected
    .dropdownItemRightIconContentSvg {
    display: block;
  }

  .dropdownItemRightIcon.dropdownItemRightIconSelected
    .dropdownItemRightIconContent {
    border: 0;
    background: var(--cdg-color-cdgBlue100);
  }

  .dropdownItemRightIcon.dropdownItemRightIconSelected
    .dropdownItemRightIconContent
    svg {
    display: block;
  }

  .dropdownComboBox.dropdownItemRightIconIsEmpty
    .dropdownInputControl::placeholder {
    color: var(--cdg-color-placeholder);
    font-size: var(--cdg-font-size-label1);
    font-weight: var(--cdg-font-weight-semibold);
  }

  .dropdownComboBox.dropdownItemRightIconIsDisabled {
    color: var(--cdg-color-disabledText);
    cursor: not-allowed !important;
  }

  .dropdownComboBox.dropdownItemRightIconIsDisabled * {
    color: var(--cdg-color-disabledText);
    cursor: not-allowed !important;
  }

  .dropdownComboBox.dropdownItemRightIconIsDisabled .dropdownInputControl {
    color: var(--cdg-color-disabledText);
    background-color: var(--cdg-color-gray20);
  }

  .dropdownComboBox.dropdownItemRightIconIsDisabled .dropdownSelectButton span {
    color: var(--cdg-color-disabledText);
  }

  .dropdownComboBox.dropdownItemRightIconIsErrored {
    border-color: var(--cdg-color-danger);
  }

  .dropdownComboBox.dropdownItemRightIconIsErrored:focus-within {
    border-color: var(--cdg-color-dangerDarker);
  }

  .dropdownWrapper.dropdownOpening
    .dropdownSelect
    .dropdownSelectButton
    .dropdownButtonIcon,
  .dropdownWrapper.dropdownOpening
    .dropdownComboBox
    .dropdownButtonControl
    .dropdownButtonIcon {
    transform: rotate(180deg);
    transition: transform 0.3s linear;
  }

  .dropdownWrapper.dropdownH5 .dropdownLabel {
    font-size: var(--cdg-font-size-label2);
    font-weight: var(--cdg-font-weight-medium);
    color: var(--cdg-color-grayShades80);
    margin-bottom: var(--cdg-spacing-1);
  }

  .dropdownWrapper.dropdownH5 .dropdownSelectButton {
    font-size: var(--cdg-font-size-label1);
    font-weight: var(--cdg-font-weight-normal);
    line-height: var(--cdg-line-height-tight);
    padding: var(--cdg-spacing-3) var(--cdg-spacing-4);
  }

  .dropdownSelect.dropdownInputIsEmpty
    .dropdownSelectButton
    .dropdownButtonText {
    color: var(--cdg-color-placeholder);
  }

  .dropdownSelect.dropdownInputIsDisabled {
    background-color: var(--cdg-color-gray20);
  }

  .dropdownSelect.dropdownInputIsDisabled * {
    color: var(--cdg-color-disabledText);
    cursor: not-allowed !important;
  }

  .dropdownSelect.dropdownInputIsDisabled .dropdownSelectButton {
    color: var(--cdg-color-disabledText);
  }

  .dropdownSelect.dropdownInputIsErrored {
    border-color: var(--cdg-color-danger);
  }

  .dropdownSelect.dropdownInputIsErrored:focus-within {
    border-color: var(--cdg-color-dangerDarker);
  }

  .dropdownSelect.dropdownInputH5 {
    border-radius: var(--cdg-border-radius-lg);
    color: var(--cdg-color-grayShades100);
  }

  .dropdownSelect.dropdownInputH5 svg {
    color: var(--cdg-color-grayShades60);
  }
}
