.componentShowcaseContainer {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  margin-top: 1rem;
  padding: 1.2rem;
  border: 1px solid rgb(231, 228, 228);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.componentDisplayVertical {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  margin-top: 1rem;
  padding: 1.2rem;
  border: 1px solid rgb(231, 228, 228);
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.componentDisplayVerticalLeft {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  margin-top: 1rem;
  padding: 1.2rem;
  border: 1px solid rgb(231, 228, 228);
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.avatarShowcaseContainer {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  margin-top: 1rem;
  padding: 1.2rem;
  border: 1px solid rgb(231, 228, 228);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.gutterShowcaseContainer {
  padding: 0 10px;
  margin: 0;
  margin-top: 1rem;
  border: 1px solid rgb(231, 228, 228);
  min-height: 200px;
  display: flex;
  flex-direction: column;
}

.textAreaShowcaseContainer {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  margin-top: 1rem;
  padding: 1.2rem;
  border: 1px solid rgb(231, 228, 228);
  border-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

.codeContainer {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  margin-top: 1rem;
  padding: 1.2rem;
  border: 1px solid rgb(231, 228, 228);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.iconWrapper {
  width: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.iconWrapper p {
  font-size: 0.75rem;
  word-break: break-word;
  text-align: center;
}

.contentSliderDemo {
  background: #f0f0f0;
  margin-top: 20px;
}

.contentSliderDemo h3 {
  font-size: 24px;
}

.contentSliderDemo .slide-content {
  padding: 20px;
}

.bannerShowcaseContainer {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Remove nextra unwanted boxshadow, but only in showcase container, not all over pages */
.componentShowcaseContainer a:focus-visible,
.componentShowcaseContainer sumary:focus-visible,
.componentShowcaseContainer button:focus-visible,
.componentShowcaseContainer input:focus-visible,
.componentShowcaseContainer [tabindex]:not([tabindex='-1']):focus-visible,
.componentDisplayVertical a:focus-visible,
.componentDisplayVertical sumary:focus-visible,
.componentDisplayVertical button:focus-visible,
.componentDisplayVertical input:focus-visible,
.componentDisplayVertical [tabindex]:not([tabindex='-1']):focus-visible,
.avatarShowcaseContainer a:focus-visible,
.avatarShowcaseContainer sumary:focus-visible,
.avatarShowcaseContainer button:focus-visible,
.avatarShowcaseContainer input:focus-visible,
.avatarShowcaseContainer [tabindex]:not([tabindex='-1']):focus-visible,
.gutterShowcaseContainer a:focus-visible,
.gutterShowcaseContainer sumary:focus-visible,
.gutterShowcaseContainer button:focus-visible,
.gutterShowcaseContainer input:focus-visible,
.gutterShowcaseContainer [tabindex]:not([tabindex='-1']):focus-visible,
.textAreaShowcaseContainer a:focus-visible,
.textAreaShowcaseContainer sumary:focus-visible,
.textAreaShowcaseContainer button:focus-visible,
.textAreaShowcaseContainer input:focus-visible,
.textAreaShowcaseContainer [tabindex]:not([tabindex='-1']):focus-visible,
.bannerShowcaseContainer a:focus-visible,
.bannerShowcaseContainer sumary:focus-visible,
.bannerShowcaseContainer button:focus-visible,
.bannerShowcaseContainer input:focus-visible,
.bannerShowcaseContainer [tabindex]:not([tabindex='-1']):focus-visible {
  box-shadow: none;
}
