.componentShowcaseContainer {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  margin-top: 1rem;
  padding: 1.2rem;
  border: 1px solid rgb(231, 228, 228);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.avatarShowcaseContainer {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  margin-top: 1rem;
  padding: 1.2rem;
  border: 1px solid rgb(231, 228, 228);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.textAreaShowcaseContainer {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  margin-top: 1rem;
  padding: 1.2rem;
  border: 1px solid rgb(231, 228, 228);
  border-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

.codeContainer {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  margin-top: 1rem;
  padding: 1.2rem;
  border: 1px solid rgb(231, 228, 228);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.iconWrapper {
  width: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.iconWrapper p {
  font-size: 0.75rem;
  word-break: break-word;
  text-align: center;
}

.contentSliderDemo {
  background: #f0f0f0;
  margin-top: 20px;
}

.contentSliderDemo h3 {
  font-size: 24px;
}

.contentSliderDemo .slide-content {
  padding: 20px;
}

.bannerShowcaseContainer {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
