@import '../../theme/theme.module.css';

@layer default, variant, compoundVariant;

@layer default {
  .checkbox {
    margin: 0px;
    padding: 0px;
    border: none;
    appearance: none;
    line-height: 1.15;
    box-sizing: border-box;
    background-color: transparent;
    color: var(--cdg-color-primaryText);
  }

  .label {
    padding: 2px;
    display: flex;
    cursor: pointer;
    user-select: none;
    position: relative;
    border-radius: 3px;
    align-items: center;
    white-space: nowrap;
    gap: var(--cdg-spacing-3);
    color: var(--cdg-color-gray90);
    min-width: var(--cdg-spacing-5);
    min-height: var(--cdg-spacing-5);
    font-size: var(--cdg-font-size-label1);
  }

  .label:focus-within {
    outline: 2px solid var(--cdg-color-cdgBlue60);
  }

  .input {
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
    position: absolute;
  }

  .input:checked ~ .box {
    border-color: var(--cdg-color-cdgBlue);
    background-color: var(--cdg-color-cdgBlue);
  }

  .input:disabled:checked ~ .box {
    border-color: var(--cdg-color-gray50);
    background-color: var(--cdg-color-gray50);
  }

  .box {
    border-style: solid;
    width: var(--cdg-spacing-4);
    height: var(--cdg-spacing-4);
    transition: var(--cdg-transition-button);
    border-radius: var(--cdg-border-radius-md);
    border-width: var(--cdg-border-width-light);
    border-color: var(--cdg-color-activeBorder);
    background-color: var(--cdg-color-whiteText);
  }

  .checkmark {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .checkmarkIcon {
    width: var(--cdg-spacing-3);
    height: var(--cdg-spacing-3);
    color: var(--cdg-color-whiteText);
  }
}

@layer variant {
  .labelVariantH5 {
    max-width: 343px;
    white-space: normal;
    padding: var(--cdg-spacing-4);
    border-radius: var(--cdg-border-radius-xl);
    background-color: var(--cdg-color-gray10);
  }

  .labelVariantH5Checked {
    background-color: var(--cdg-color-cdgBlue10);
  }

  .rounded {
    border-radius: var(--cdg-border-radius-full);
  }
}
