/* StyledTooltipArrow */
.tooltipArrow {
  background-color: inherit;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  position: absolute;
}

/* StyledTooltip */
.tooltip {
  /* ... Other styles ... */
  $$themeColor: '$cdgBlue',
  position: 'absolute',
  padding: '$4',
  maxWidth: '$96',
  background: '$typeHeading',
  lineHeight: '$normal',
  borderRadius: '$md',
  boxShadow:
    '0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13)',
  color: '$whiteText',
  fontSize: '14px',
}

.tooltipHeader {
  display: flex;
  align-items: flex-start;
  font-size: 5;
  line-height: 7;
  margin-bottom: 2;
}

.tooltipTitle {
  margin: 0;
  margin-right: 4;
}

.tooltipCloseButton {
  margin-left: auto;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.tooltipCloseIcon {
  width: 4;
  height: 4;
}

.noTitle {
  padding: 2 4;
}