@import '../../theme/theme.module.css';

@layer default, variant;

@layer default {
  .breadcrumbsItem {
    text-decoration: none;
    font-weight: 400;
    transition: var(--cdg-transition-default);
    color: var(--cdg-color-info);
  }
}

@layer variant {
  .isActive {
    color: var(--cdg-color-typeHeading);
  }

  .isDisabled {
    color: var(--cdg-color-disabledText);
    cursor: not-allowed;
  }
}
