@import '../../theme/theme.module.css';

@layer default, variants, states;

@layer default {
  .avatar {
    position: relative;
    width: var(--cdg-spacing-10);
    height: var(--cdg-spacing-10);
    font-size: 300%;
  }

  .avatarInner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    user-select: none;
    box-sizing: border-box;
    color: var(--cdg-color-info);
    background-color: var(--cdg-color-infoBg);
    width: 100%;
    height: 100%;
  }

  .avatarImage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 3;
    background-color: var(--cdg-color-infoBg);
  }

  .avatarText {
    font-family: var(--cdg-font-sans);
    font-weight: var(--cdg-font-weight-semibold);
    z-index: 1;
    background-color: var(--cdg-color-infoBg);
  }

  .avatarIcon {
    background-color: var(--cdg-color-infoBg);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: grid;
    place-items: center;
  }

  .avatarGroup {
    display: flex;
  }

  .addMoreSizeLg {
    margin-left: 12px;
    width: var(--cdg-spacing-12);
    height: var(--cdg-spacing-12);
    font-size: var(--cdg-font-size-body1);
  }

  .addMoreSizeMd {
    margin-left: 10px;
    width: var(--cdg-spacing-10);
    height: var(--cdg-spacing-10);
    font-size: var(--cdg-font-size-body2);
  }

  .addMoreSizeSm {
    margin-left: 8px;
    width: var(--cdg-spacing-8);
    height: var(--cdg-spacing-8);
    font-size: var(--cdg-font-size-body3);
  }

  .addMoreSizeXs {
    margin-left: 6px;
    width: var(--cdg-spacing-6);
    height: var(--cdg-spacing-6);
    font-size: var(--cdg-font-size-label2);
  }

  .addMoreSizeXxs {
    margin-left: 4px;
    width: var(--cdg-spacing-4);
    height: var(--cdg-spacing-4);
    font-size: 0.5rem;
  }

  .avatarAddMore {
    border: 1px dashed #c5ccd3;
    color: #424d57;
    background-color: var(--cdg-color-white);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avatarStatus {
    position: absolute;
    z-index: 4;
    bottom: 0;
    right: 0;
  }

  .avatarGroup .avatarInner {
    border: 1.5px solid var(--cdg-color-white);
    z-index: 1;
  }

  .avatar.extraSmall .avatarStatus {
    bottom: -2px;
    right: -2px;
  }
}

@layer variants {
  .large {
    width: var(--cdg-spacing-12);
    height: var(--cdg-spacing-12);
    font-size: var(--cdg-font-size-body1);
  }

  .medium {
    width: var(--cdg-spacing-10);
    height: var(--cdg-spacing-10);
    font-size: var(--cdg-font-size-body2);
  }

  .small {
    width: var(--cdg-spacing-8);
    height: var(--cdg-spacing-8);
    font-size: var(--cdg-font-size-body3);
  }

  .extraSmall {
    width: var(--cdg-spacing-6);
    height: var(--cdg-spacing-6);
    font-size: var(--cdg-font-size-label2);
  }

  .smallest {
    width: var(--cdg-spacing-4);
    height: var(--cdg-spacing-4);
    font-size: 0.5rem;
  }
}

@layer states {
  .avatarAddMore:hover {
    background-color: var(--cdg-color-cdgBlue10);
  }

  .avatarAddMore:active {
    background-color: var(--cdg-color-cdgBlue40);
  }
}
