/* Importing the theme module */
@import '../../theme/theme.module.css';

@layer default {
  .drawerExpander {
    padding-block: var(--cdg-spacing-4);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    cursor: grab;
  }

  .drawerExpander:active {
    cursor: grabbing;
  }

  .drawerExpander > .expanderLine {
    display: block;
    width: var(--cdg-spacing-10);
    height: var(--cdg-spacing-1);
    background-color: var(--cdg-color-grayShades20);
    border-radius: var(--cdg-border-radius-md);
  }

  @media (min-width: 600px) {
    .drawerExpander {
      padding-block: var(--cdg-spacing-2);
    }
  }
}
