@import '../../theme/theme.module.css';

@layer default, variant;

@layer default {
  .image {
    width: var(--cdg-spacing-10);
    height: var(--cdg-spacing-10);
    border-radius: var(--cdg-border-radius-lg);
    object-fit: cover;
  }
}

@layer variant {
  .isRounded {
    border-radius: var(--cdg-border-radius-full);
  }

  .variantH5 {
    width: var(--cdg-spacing-11);
    height: var(--cdg-spacing-11);
  }
}
