@import '../../theme/theme.module.css';

@layer default;

@layer default {
  .cdgTableCheckboxCell {
    text-align: 'left';
    font-size: var(--cdg-font-size-label1);
    line-height: var(--cdg-spacing-5_25);
  }
}
