@import '../../theme/theme.module.css';
@layer default;

@layer default {
  .cdgTableResizer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: var(--cdg-spacing-1);
    background-color: rgba(0, 0, 0, 0.5);
    cursor: col-resize;
    opacity: 0;
  }

  .cdgTableResizer:hover {
    opacity: 1;
  }

  .cdgTableResizer:active {
    user-select: none;
  }

  @media screen and (max-width: 767px),
  screen and (min-width: 768px) and (max-width: 1024px) {
    .cdgTableResizer {
      opacity: 1;
      user-select: none;
      touch-action: none;
    }

    .cdgTableResizer:hover {
      background-color: var(--cdg-color-cdgBlue);
    }
  }
}