@import '../../theme/theme.module.css';
@layer default;

@layer default {
  .cdgTableHeaderFilter {
    padding: var(--cdg-spacing-2);
    box-shadow: '0 4px 6px -1px rgb(0 0 0 / 0.1); 0 2px 4px -2px rgb(0 0 0 / 0.1)';
    background-color: var(--cdg-color-background);
    border-radius: var(--cdg-border-radius-md);
  }
  .numberContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 600px) {
    .numberContainer {
      flex-direction: row;
    }
  }
}
