@import '../../theme/theme.module.css';
@layer default, variant;

@layer default {
  .cdgTableRow {
    background: var(--cdg-color-whiteText);
    background-color: transparent;
    transition: var(--cdg-transition-default);
    border: none;
  }
}

@layer variant {
  .isSelected {
    border-width: var(--cdg-border-width-light);
    background-color: var(--cdg-color-cdgBlue10);
    border-left: var(--cdg-spacing-0_5) solid var(--cdg-color-cdgBlue);
  }

  .isExpanded {
    background-color: var(--cdg-color-cdgBlue10);
  }
}
