@import '../../theme/theme.module.css';
@layer default;

@layer default {
  .cdgTableNoData {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cdgTableNoDataDesciption {
    color: var(--cdg-color-cdgBlue);
    font-size: var(--cdg-font-size-header4);
    font-family: var(--cdg-font-sans);
    font-weight: var(--cdg-font-weight-semibold);
    margin-top: 1rem;
  }
}
