.compactExampleContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

@media screen and (max-width: 768px){
  .compactExampleContainer {
    flex-direction: row;
  }

  .compactExampleContainer > .cdg-pudo-container {
    width: calc(100% / 2 - var(--space-4));
  }
}