.compactExampleContainer {
  display: flex;
  flex-direction: column;
  gap: var(--cdg-spacing-4);
}

.previewCode {
  padding: var(--cdg-spacing-2);
  margin: 0;

  width: 100%;
  min-height: var(--cdg-spacing-5);
  border-radius: var(--cdg-border-radius-lg);

  background-color: var(--cdg-color-gray10);
  font-size: var(--cdg-font-size-body3);
  line-height: 1.5;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

@media (width > 768px) {
  .compactExampleContainer {
    flex-direction: row;
  }

  .compactExampleContainer :global(.cdg-pudo-container) {
    flex-basis: 50%;
    min-width: 0;
  }
}
