@import '../../theme/theme.module.css';

@layer default {
  .chip {
    border: 1px solid rgb(230, 230, 230);
    border-radius: var(--cdg-border-radius-full);
    padding: var(--cdg-spacing-1) var(--cdg-spacing-3);
    font-size: var(--cdg-spacing-3_5);
    cursor: pointer;
    font-weight: var(--cdg-font-weight-semibold);
    line-height: var(--cdg-line-height-normal);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--cdg-spacing-2);
    color: var(--cdg-color-primaryText);
    width: fit-content;
    height: fit-content;
    font-family: var(--cdg-font-sans);
  }
  
  .chip.isErrored {
    border-color: var(--cdg-color-danger);
    background-color: var(--cdg-color-dangerBg);
  }
  
  .close-icon-container {
    cursor: pointer;
  }
  
  .cdgChipContent {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
  }
}
