@import '../../theme/theme.module.css';

@layer default, compoundVariant;

@layer default {
  .sliderMainTrack {
    width: 100%;
    cursor: pointer;
    border-radius: 6.25rem;
    display: flex;
    flex-direction: row;
    height: var(--cdg-spacing-1);
    background-color: var(--cdg-color-cdgBlue10);
  }

  .sliderFilledTrackUpper {
    height: var(--cdg-spacing-1);
    border-top-left-radius: 6.25rem;
    border-bottom-left-radius: 6.25rem;
    background-color: var(--cdg-color-cdgBlue100);
  }

  .sliderFilledTrackLower {
    height: var(--cdg-spacing-1);
    border-top-right-radius: 6.25rem;
    border-bottom-right-radius: 6.25rem;
    background-color: var(--cdg-color-cdgBlue100);
  }

  .rangeSliderFilledTrack {
    position: absolute;
    height: var(--cdg-spacing-1);
    background-color: var(--cdg-color-cdgBlue100);
  }

  .thumb {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    width: var(--cdg-spacing-4);
    height: var(--cdg-spacing-4);
    border-radius: 50%;
    background-color: var(--cdg-color-background);
    border: 1px solid var(--cdg-color-cdgBlue10);
    box-shadow: 0px 2px 4px var(--cdg-color-overlayDark);
    transform: translate3d(100%, -50%, 0);
    cursor: pointer;
    box-sizing: border-box;
  }

  .thumb:focus-visible {
    outline: 1px solid var(--cdg-color-cdgBlue100);
  }

  .thumbInput {
    visibility: hidden;
  }
  .thumbInput:focus-visible {
    outline: none;
  }
}

@layer compoundVariant {
  .sliderMainTrackIsDisabled {
    cursor: default;
  }

  .controlsIsDisabled {
    cursor: default;
  }

  .controlsVertical {
    height: 100%;
  }

  .sliderMainTrackVertical {
    height: 100%;
    flex-direction: column;
    width: var(--cdg-spacing-1);
  }

  .sliderFilledTrackUpperVertical {
    width: var(--cdg-spacing-1);
    border-top-left-radius: 6.25rem;
    border-top-right-radius: 6.25rem;
  }

  .sliderFilledTrackLowerVertical {
    width: var(--cdg-spacing-1);
    border-bottom-left-radius: 6.25rem;
    border-bottom-right-radius: 6.25rem;
  }

  .rangeSliderFilledTrackVertical {
    width: var(--cdg-spacing-1);
  }

  .thumbVertical {
    top: 0;
    left: 50%;
  }

  .thumbIsDisabled {
    cursor: default;
  }

  .thumbShowToolip:focus-visible::before, .thumbIsDragging.thumbShowToolip::before {
    content: '';

    position: absolute;
    left: 50%;
    bottom: var(--cdg-spacing-2);

    border: 10px solid transparent;
    border-top: 10px solid var(--cdg-color-gray110);
    transform: translateX(-50%);
    z-index: 9999;
  }

  .thumbShowToolip:focus-visible::after, .thumbIsDragging.thumbShowToolip::after {
    content: attr(data-value);
    position: absolute;
    bottom: 1.688rem;

    padding: 0.2rem;
    width: var(--cdg-spacing-12_5);
    height: var(--cdg-spacing-12_5);

    text-align: center;
    font-family: inherit;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: var(--cdg-font-weight-bold);
    line-height: 3.125rem;
    color: var(--cdg-color-whiteText);
    background-color: var(--cdg-color-gray110);
    border-radius: 0.2rem;
    white-space: nowrap;
    pointer-events: none;

    transform: translateX(-35%);
  }
}
