@import '../../theme/theme.module.css';

@layer default, variant, compoundVariant;

@layer default {
  .menuListDropdown {
    display: flex;
    flex-direction: column;
    color: var(--cdg-color-gray100);
    width: 100%;
    gap: var(--cdg-spacing-1);
  }

  .menuListDropdownBody {
    flex-direction: column;
  }
}

@layer variant {
  .open {
    display: flex;
    gap: var(--cdg-spacing-1);
  }

  .close {
    display: none;
  }
}
